<form action="" name="addRuleForm">

  <app-input [inputConfig]="titleGroup"></app-input>

  <app-input [inputConfig]="pubShareGroup"></app-input>

  <!-- <div class="form-group">
    <label for="pubShare" class="">{{pubShareGroup.label}}</label>
    <div class="col-10">
      <input id="pubShareName" type="text" name="pubShareName" class="form-control" #pubShareRef="ngModel" [(ngModel)]="pubShareGroup.value "
        (keydown)="filter($event, pubShareGroup.type)" required>
    </div>
  </div>


  <div class="form-group">
    <label for="myShare">{{myShareGroup.label}}</label>
    <input type="text" name="myShare" class="form-control" #myShare="ngModel" [(ngModel)]="myShareGroup.value" required>
  </div> -->
</form>